os:
  - osx
  - linux

language: node_js

node_js:
  - '6'

before_install:
  - npm install -g npm@5.2.0
  - rm -rf node_modules
  - npm install
 
# cache:
#   directories:
#   - node_modules

script:
  - tsc --version
  - npm run build
  - npm run test
